/* Hide the header that displays the name of the page or post */
.entry-header {
  display: none;
}

/* Returns smallcaps font back to normal */
h1, h2 {
font-variant-caps: normal;
}

/* Center an image */
#imageid {
  display: block;  
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* Center Text */
#divid {
  text-align: center;
}

/* Background Image */
#divid {
  background-image: url("imageurl.jpg");
  background-repeat: no-repeat;
  height: 1200px;
  background-position: center top;
  background-size: cover;
}

/* Center a section on the page */
#divid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Indent Paragraphs */
#divid {
 text-indent: 2em; 
}

/* Border Shorthand  Works on HR tag as well! */
# divid {
  border: .5em solid #fff;
  border-radius: 5px; /* rounds off corners */
}

/* Share Section of Eucharistic Witnesses on kcascension.org */
#share {
  text-align: center;
  padding: 1em 0 0 0;
}

/* CSS Grid https://www.w3schools.com/css/css_grid.asp */

/* Tablet Viewport Styling */
@media screen and (max-width: 64em) { /* 900px theme */

}

/* Mobile Viewport Styling */
@media screen and (max-width: 37.5em) { /*Mobile*/

/* Changes wrapper to go all the way to the edges of the mobile screen */
.entry-content {
    max-width: 100%;
    padding: 0;
    margin: 0;
 }

}
